.DS_Store
/fish/
/yabai/
/skhd/
/github-copilot/
/nvim/startuptime.log
/nvim-old/startuptime.log
# 自動生成される一時ファイル
auto-save-list/
backup/
*~
\#*\#
.\#*
*.elc

# パッケージマネージャー関連
elpa/
elpaca/

# 履歴・キャッシュ関連
savehist
eshell/
url/
var/

# その他
tutorial/
tree-sitter/
